<div>
    <h2>Productos de la lista</h2>

    <h3>{{name}}</h3>
    <ul>
        {{#each Products}}
            <li>{{this.name}}, {{this.price}}, {{this.description}}</li>
        {{/each}}
    </ul>


</div>